.text-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.heading{
  text-align: center;
  font-size: 50px
}

button {
  width: 150px;
  background-color: rgb(55, 141, 212);
  color: white;
  padding: 10px 10px;
  margin-left: 10px;
  margin-top: 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.div-list {
  align-self: center;
  border-radius: 5px;
  background-color: #e7e9e9;
  padding: 130px;
  display: block;
}

table, td, th {  
  border: 3px solid rgb(29, 26, 26);
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.add-button{
  width: 200px;
  background-color: rgb(55, 142, 212);
  color: white;
  padding: 10px 10px;
  margin-left: 10px;
  margin-top: 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.div-login {
  align-self: center;
  border-radius: 5px;
  background-color: #e7e9e9;
  padding: 250px;
  display: block;
}